:host {
  display: block;

}

.container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #eee;
  color: #222;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}